@font-face{
	font-family: "DejaVuSerif";
	src: url("fuentes/DejaVuSerif.ttf");
}
body{
	margin: 0;
	font-family: DejaVuSerif;
	color: black;
	background-color: #e1e6fc;
	flex-direction: column;
}
header{
	text-align: center;
	position: fixed;
	width: 100%;
	height: 159px;
	top: 0px;
	background-color: #5b77fa;
}
.logo{
	margin-top: 10px;
    height: 100px;
    border-radius: 150px;
}
.portada{
	width: 100%;
}
ul, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.navegador1{
	margin-top: 5px;
	margin-left: 150px;
	margin-right: 150px;
}
.navegador1 > li{
	float: left;
	width: 12.500%;
}
.navegador1 li a{
	background-color: #5b77fa;
	color: white;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
	border-bottom: white 1px solid;
}
.navegador1 li a:hover{
	color: #ef7e6b;
	background-color: white;
	font-weight: bold;
	border-bottom: #5b77fa 1px solid;
}
.navegador1 li a.fijo{
	color: #ef7e6b;
	background-color: white;
	font-weight: bold;
	border-bottom: #5b77fa 1px solid;
}
.navegador2{
	margin-top: 5px;
	margin-left: 150px;
	margin-right: 150px;
}
.navegador2 > li{
	float: left;
	width: 25%;
}
.navegador2 li a{
	background-color: #5b77fa;
	color: white;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
	border-bottom: white 1px solid;
}
.navegador2 li a:hover{
	color: #ef7e6b;
	background-color: white;
	font-weight: bold;
	border-bottom: #5b77fa 1px solid;
}
.navegador2 li a.fijo{
	color: #ef7e6b;
	background-color: white;
	font-weight: bold;
	border-bottom: #5b77fa 1px solid;
}
main{
	background-color: white;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 308px;
	margin-bottom: 200px;
	overflow: auto;
}
fieldset{
	font-weight: bold;
	border-color: black;
}
.boton{
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 10px 20px;
	color: white;
	background-color: black;
}
.boton:hover{
	cursor: pointer;
}
h2{
	color: #ef7e6b;
	margin: 20px;
	text-decoration: underline;
}
form{
	font-family: arial;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}
form label{
	font-weight: bold;
	width: 100px;
}
form select,
form input[type="date"]{
	width: 50%;
	padding: 4px 10px;
	border: 1px solid black;
	background-color: white;
	margin: 10px 0px;
	display: inline-block;
}
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"]{
	width: 50%;
	padding: 5px 10px;
	border: 1px solid black;
	background-color: white;
	margin: 10px 0px;
	display: inline-block;
}
form input[type="submit"]{
	width: 100%;
	padding: 10px 20px;
	display: block;
	color: white;
	border: 0px;
	background-color: black;
}
form input[type="submit"]:hover{
	cursor: pointer;
}
textarea{
	font-family: arial;
	width: 50%;
	height: 100px;
	border: 1px solid black;
	background-color: white;			
	margin: 10px 0;
	resize: none;
	display: block;
	padding: 5px 10px;
}
#buscador{
	font-family: arial;
	background-image: url("./imagenes/lupa.png");
	background-size: 25px;
	background-position: 7px 7px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	border: 1px solid black;
	width: 25%;
	margin-left: 20px;
	margin-top: 20px;
}
table{
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
caption{
	font-size: 1.5em;
	font-weight: bold;
	color: #ef7e6b;
	padding: 20px;
	text-decoration: underline;
}
table tr{
	border-bottom: 1px solid black;
}
table th, table td{
	font-family: arial;
	color: black;
	text-align: left;
	padding: 12px;
}
ul.datos{
	font-family: arial;
	margin-left: 40px;
	margin-bottom: 20px;
}
button{
	background-color: black;
	color: white;
	padding: 4px;
}
button:hover{
	cursor: pointer;
}
button.accordion{
	font-family: DejaVuSerif;
	background-color: white;
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
	border-radius: 5px;
}
button.accordion.active, button.accordion:hover{
    font-weight: bold;
	text-decoration: underline;
}
button.accordion:after{
    content: "\02795";
    font-size: 15px;
    color: white;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after{
    content: "\2796";
}
div.panel{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
div.panel.show{
    opacity: 1;
    max-height: 500px;
}
p{
	border-top: white 1px solid;
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 0px;
	padding: 15px;
}
footer{
	position: fixed;
	background-color: #5b77fa;
	color: #ef7e6b;
	height: 50px;
	width: 100%;
	bottom: 0px;
	text-align: center;
	font-weight: bold;
}